/* MOBILE  */

.grid-con-top {
    display: grid;
    grid-template-columns: 1fr;
    /*Single column for mobile*/
    grid-template-rows: repeat(5, auto);
    gap: 15px;
    width: 100%;
    height: auto;
    margin-bottom: 30px;
    padding: 10px;
    background-color: aqua;
}

.grid-con-main {
    display: grid;
    grid-template-rows: auto;
    min-height: 200px;
    height: auto;
    width: 100%;
    background-color: yellowgreen;
}


.grid-con-end {
    display: grid;
    min-height: 200px;
    margin-bottom: 20px;
    background-color: aquamarine;
}


.navbar {
    background-color: brown;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    color: white;
}

.hamburger {
    position: fixed;
    z-index: 100;
    top: 1rem;
    right: 1rem;
    padding: 4px;
    border: black solid 1px;
    background: white;
    cursor: pointer;
}

.menuIcon {
    display: block;
}

.closeIcon {
    display: none;
}

.menu {
    position: fixed;
    transform: translateY(-100%);
    transition: transform 0.2s;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    background: black;
    color: white;
    list-style: none;
    padding-top: 4rem;
    text-align: center;
}

.menuItem {
    margin: 20px 0;
}

.showMenu {
    transform: translateY(0);
}

.Page-title {
    background-color: forestgreen;
}

.about {
    background-color: khaki;
}

.info {
    background-color: rebeccapurple;
}

.all-info {
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkolivegreen;
}


/* DESKTOP .*/
@media screen and (min-width: 479px) {
    body {
        background-color: blueviolet;
    }

    .grid-con-top {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 50px 300px repeat(2, 2fr) 100px;
        gap: 20px;
        width: 100%;
        height: auto;
        margin-bottom: 50px;
        background-color: yellow;
    }

}