/* MOBILE  */

.grid-con-top {
    display: grid;
    grid-template-columns: 1fr;
    /*Single column for mobile*/
    grid-template-rows: 5auto;
    gap: 15px;
    width: 100%;
    height: auto;
    margin-bottom: 30px;
    padding: 10px;
    background-color: aqua;
}

.grid-con-main {
    display: grid;
    height: auto;
    width: auto;
    background-color: yellowgreen;
}


.grid-con-end {}




/* DESKTOP .*/
@media screen and (min-width: 479px) {
    body {
        background-color: blueviolet;
    }

    .grid-con-top {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 50px 300px repeat(2, 2fr) 100px;
        gap: 20px;
        width: 100%;
        height: auto;
        margin-bottom: 50px;
        background-color: yellow;
    }

}